/*
    first exercise
*/
.ex-1-square{
    transition:background-color 3s;
}

.ex-1-square:hover{
    background-color: red;   
}

/*
    2nd exercise
*/

.ex-2-square{
    transition:width 3s; 
}

.ex-2-square:active{
    width:100%;
}

/*
    3rd exercise
*/
.ex-3-square{
    transition:border-radius 3s; 
}
.ex-3-square:hover{
    border-radius:50%;
}

/*
    4th exercise
*/
.ex-4-square{
    transition:opacity 3s; 
}
.ex-4-square:hover{
    opacity: 0;
}