/*
    first exercise
*/
.ex-1-square{
    transition:background-color 3s;
}

.ex-1-square:hover{
    background-color: red;   
}

/*
    2nd exercise
*/

.ex-2-square{
    transition:width 3s; 
}

.ex-2-square:active{
    width:100%;
}

/*
    3rd exercise
*/
.ex-3-square{
    transition:border-radius 3s; 
}
.ex-3-square:hover{
    border-radius:50%;
}

/*
    4th exercise
*/
.ex-4-square{
    transition:opacity 3s; 
}
.ex-4-square:hover{
    opacity: 0;
}

/*
    5th exercise
*/
.ex-5-square{
    transition:width 3s, height 3s; 
}

.ex-5-square:hover{
    width:80px;
    height: 80px; 
}

.ex-5-square:active{
    width:40px;
    height: 40px; 
}

/*
    6th exercise
*/
.ex-6-img{
    transition: filter 2s;
}
.ex-6-img:hover{
    filter: grayscale(1);
}
/*
    7th exercise 
*/
.ex-7-img{
    transition: filter 2s;
}
.ex-7-img:hover{
    filter: sepia(0.8) blur(5px); 
}

/*
    8th exercise
*/
.ex-8-img{
    transition: filter 2s, border-radius 5s;
}
.ex-8-img:hover{
    filter: sepia(0.8) blur(5px); 
    border-radius: 25px;
}

/*
    9th exercise
*/
.ex-9-img{
    transition: filter 2s, border-radius 5s, transform 2s;
}

.ex-9-img:hover{
    filter: sepia(0.8) brightness(0.8); 
    border-radius: 25px;
    transform: scale(0.5);
}

/*
    10th exercise
*/
.ex-10-icon {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}